/* --- VARIÁVEIS DO PROJETO INICIAL --- */

:root {
    --primary-bg-color: #B3E0FF;
    --primary-text-color: #FFFFFF;
    --secondary-bg-color: #6BB5FF;
    --secondary-text-color: #FFFFFF;
    --action-positive: #4caf50;
    --action-negative: #f44336;
    --highlight-info: #3289e1;
    --primary-font: 'Advent Pro', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --primary-border-radius: 10px;
    --primary-font-size: 1rem;
    --large-font-size: 2rem;
    --medium-font-size: 20px;
    --default-padding: 30px 40px;
    --large-padding: 0.8rem 3.5rem;
}

body {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: var(--primary-font-size);
}

/* ---- LOGIN INTERFACE STYLES ---- */

#loginContainer {
    background-color: var(--secondary-bg-color);
    padding: var(--default-padding);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--box-shadow);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

p{
    font-size: 23px;
    margin: -10px 0px 5px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    font-weight: 600;
}

#loginContainer h2 {
    font-family: var(--primary-font);
    text-align: center;
    margin: 0px 0px -10px;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 80px;
}

#loginContainer h3 {
    margin: 0px 0px 30px;
    font-size: 29px;
    color: #000000;
}

#loginContainer img {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}

.loginInput {
    width: 100%;
    max-width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 15px;
    outline: none;
}

.loginButton {
    padding: var(--large-padding);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--secondary-bg-color);
    color: #000000;
    border: 2px solid var(--highlight-info);
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    transition: all 0.3s;
    margin: 20px 0px 0px;
}

.loginButton:hover {
    background-color: var(--highlight-info);
    font-weight: 700;
    color: var(--primary-text-color);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.loginButton:active {
    transform: scale(0.95);
}

#professorLogin {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
}

#loginContainer input[type="text"]:not(:placeholder-shown),
#loginContainer input[type="password"]:not(:placeholder-shown) {
    color: #333333; /* Um tom de cinza escuro */
}

/* Estilo para os inputs quando estão focados */
#loginContainer input[type="text"]:focus,
#loginContainer input[type="password"]:focus {
    border-color: var(--primary-bg-color); /* Usamos o azul claro definido anteriormente */
    box-shadow: 0 0 8px var(--primary-bg-color); /* Sombra com o mesmo azul claro */
    background-color: var(--primary-bg-color); /* Fundo azul clarinho */
    outline: none; /* Remove a outline padrão do navegador */
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s; /* Suaviza as transições */
}

/* Transição padrão para os inputs (para quando eles perdem o foco) */
#loginContainer input[type="text"],
#loginContainer input[type="password"] {
    background-color: #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}