:root {
    --primary-bg-color: #B3E0FF;
    --primary-text-color: #FFFFFF;
    --secondary-bg-color: #3d9bfa;
    --secondary-text-color: #FFFFFF;
    --action-positive: #4caf50;
    --action-negative: #f44336;
    --highlight-info: #3289e1;
    --primary-font: 'Advent Pro', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --primary-border-radius: 10px;
    --primary-font-size: 1rem;
    --large-font-size: 2rem;
    --medium-font-size: 20px;
    --default-padding: 30px 40px;
    --large-padding: 0.8rem 3.5rem;
}

body {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: var(--primary-font-size);
}

.container {
    background-color: var(--secondary-bg-color);
    padding: var(--default-padding);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--box-shadow);
    max-width: 600px;
    margin: auto;
}

h1, h2 {
    font-family: var(--secondary-font);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: var(--secondary-text-color);
}

h1 {
    font-size: var(--large-font-size);
}

h2 {
    font-size: var(--medium-font-size);
}

#reportContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: var(--primary-border-radius);
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid var(--secondary-text-color);
}

thead {
    background-color: rgba(77, 44, 224, 0.685);
    color: var(--primary-text-color);
}

tbody tr:nth-child(even) {
    color: #3289e1;
    background-color: rgba(255, 255, 255, 0.553);
}

#reportActions {
    margin-top: 30px;
    margin-bottom: -10px;
    font-family: var(--secondary-font);
    font-weight: 600;
}

#reportActions a {
    padding: var(--large-padding);
    font-size: 18px;
    background-color: var(--highlight-info);
    color: #ffffff;
    border: 2px solid var(--secondary-text-color);
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#reportActions a:hover {
    background-color: var(--primary-bg-color);
    text-decoration: none;
    color: rgba(77, 44, 224, 0.685);
}

#reportActions a:active {
    transform: scale(0.95);
    text-decoration: none;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1, h2 {
        font-size: 18px;
    }
}
